@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Lato:400,900);
@import url("prettyPhoto.css") screen;
@import url("hoverex-all.css") screen;

/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */

html, body {
  height: 100%;
}

body{
	padding-top: 70px;
	background: #ffffff; 
	margin: 0;
	color: #384452;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

p { 
	padding: 0; 
	margin-bottom: 12px; 
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px; 
	line-height: 24px;
	color: #384452; 
	margin-top: 10px; 
}

img {
	height: auto;
	max-width: 100%;
}

a { 
	padding: 0;
	margin: 0;
	text-decoration: none; 
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#01b2fe;
}

::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}

.centered {
	text-align: center
}

.container{
	width: 100%;
}


/*	################################################################
	Header
################################################################# */

#headerwrap {
	background: url(../img/book_ban.png) no-repeat center top;
	margin-top: 0px;
	padding-top:60px;
	background-attachment: relative;
	background-position: center center;
	min-height: 450px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h2{
    font-size: 30px;
    font-style: none;
    color: rgb(25, 25, 34);
    font-family: "Open Sans",Arial,sans-serif;
    line-height: 40px;
    text-align:left;
}

#headerwrap p {
	color: rgb(114, 114, 125);
	font-size: 16px;
	line-height: 30px;
	text-align:left;
	max-width: 400px;
	margin-top:40px;
}

@media (max-width: 768px) {
  #headerwrap p {
    color: black;
  }
}


/*	################################################################
	BestSellers
################################################################# */

#bestSellers{
	background: url(../img/flou1.jpg) no-repeat center top;
	margin-top: 0px;
	padding-top:0px;
	background-attachment: relative;
	background-position: center center;
	min-height: 450px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.titleStyle{ 
	box-sizing:border-box;
	color: rgb(102, 102, 102);
	display: inline-block;
	font-family: "Oswald",helvetica,arial,sans-serif;
	font-size: 46px;
	font-weight: 700;
	letter-spacing 2px;
	line-height: 73.6px;
	margin-top: 40px;
	padding-left: 40px;
	padding-right: 40px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	width: 100%; 
}

.titleStyle::before{ 
	background-color: rgb(102, 102, 102);
	content: "";
	height: 4px;
	margin-left:-40px;
	left: auto; 
	position: absolute;
	top: 35px;
	width:30px;
}

.titleStyle::after{ 
	background-color: rgb(102, 102, 102);
	content: "";
	height: 4px;
	left: auto;
	position: absolute;
	top: 35px;
	width:30px;
}

@media (max-width: 500px) {
  	.titleStyle{ 
		font-size: 30px;
		padding:0px;
	}

	.titleStyle::before{ 
		width:0px;
	}

	.titleStyle::after{ 
		width:0px;
	}

	.titleStyle span{ 
		font-size: 30px;
	}
}

.sousTitle{ 
	background-color: #474d5d;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	font-family: "Oswald",helvetica,arial,sans-serif;
	font-size: 46px;
	font-weight: 700;
	letter-spacing: 2px;
	line-height: 73.6px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	margin-left:10px;
	margin-right:10px;
	text-align: center;
	text-transform: uppercase;
}

#carroul {
    max-width: 80%;
    min-width: 278px;
    padding: 20px;
    padding-top:57px;
    padding-left:70px;
    padding-right:70px;
    margin: auto;
}


/*	################################################################
	Footer
################################################################# */

#footerwrap {
	padding:0px;
	margin:0;
	padding-top: 60px;
	padding-bottom: 60px;
	background: #23232d;
    padding-top: 20px;
    height: 200px;
    width: 100%;
    color: white;
    font-family: "Source Sans Pro",helvetica,arial,sans-serif;
    text-align: center;
}

#footerwrap p {
	color: rgb(230,230,230);
	font-size: 15px;
}

#footerwrap h4 {
	color: white;
	font-size: 28px;
	padding-top: 30px;
    padding-bottom: 30px;
}

