/*	################################################################
	MENU
################################################################# */

.container{
	width: 100%;
}

#messageAlert{
	margin-bottom: -10px;
}

.btnRenvoiMail{
	padding:0px;
	font-size: 14px;
	height: 22px;
	margin-left:10px;
}

.navbar {
	min-height: 50px;
	padding-top: 10px;
	margin-bottom: 0px;
	border:none;
	margin:0;
	padding: 0;
}

.navbar-brand {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size:24px;
	z-index: 40;
	display:inline-block;	
	position: relative;
	margin-bottom: 10px;
	margin-top: 10px;
}

.navbar-header .navbar-brand {
	color: white;
	padding-left: 30px;
}

.navbar-default .navbar-nav > li > a {
	color: white;
	font-weight: 700;
	font-size: 14px;
	margin-top: 10px;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #00b3fe;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #00b3fe;
	background-color: transparent;
}

.navbar-default {
	background:#23232d;
	border-color: transparent;
}

.dropdown-toggle span{
	margin-right: 5px;
}

.dropdown-menu > li > a{
	font-family: "Verdana";
	background:#23232d;
	font-size:14px;
	padding:10px 30px;
	color:rgb(180,180,180);
}

.dropdown-menu{
	background:#23232d;
}

.dropdown-menu > li > span{
	margin:0;
	margin-right: 5px;
	padding:0;
}

.dropdown-menu > li > a:hover,  .dropdown-menu > li > a:focus{
	background:rgb(10, 10, 22);
	transition:opacity linear 0.15s;
	color:white;
}

.menuCenter{
	text-align: center;
	position: absolute;
	margin:auto;
	padding:auto;
	width:100%;
}

.menuCenter li {
	display:inline-block;
	text-align: center;
	float:none;
	margin:auto;
	padding:auto;
}

@media (max-width: 768px) {
	.menuCenter {
    	position: relative;
  	}
  	.menuCenter li {
    	display:block;
    	text-align: left;
  	}
}

.menuRight{
	text-align: right;
	margin:auto;
	padding:auto;
	z-index: 30;
}

.menuRight li {
	display:inline-block;
	text-align: center;
	float:none;
	margin:auto;
	padding:auto;
}

@media (max-width: 768px) {
  .menuRight li {
    display:block;
    text-align: left;
  }
}

.btn-theme {
  color: #fff;
  background-color: #384452;
  border-color: #384452;
  margin: 4px;
}
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
  color: #fff;
  background-color: #00b3fe;
  border-color: #00b3fe;
}

.dmbutton:hover,
.dmbutton:active,
.dmbutton:focus{
	color: #ffffff;
	background-color: #222222;
	border-color: #ffffff;
}
.dmbutton {
	background:rgba(0, 0, 0, 0);
	border: 1px solid #ffffff;
	color: #ffffff;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding-top: 1.025rem;
	padding-right: 2.25rem;
	letter-spacing:0.85px;
	padding-bottom: 1.0875rem;
	padding-left: 2.25rem;
	font-size: 1.55rem;
	cursor: pointer;
	font-weight: normal;
	line-height: normal;
	margin: 0 0 1.25rem;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	-webkit-transition: background-color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out;
	transition: background-color 300ms ease-out;
	-webkit-appearance: none;
	font-weight: normal !important;
}

.mtb {
	margin-top: 80px;
	margin-bottom: 80px;
}

.mb {
	margin-bottom: 60px;
}

.mt {
	margin-top: 60px;
}

.hline {
	border-bottom: 2px solid #384452;
}

.hline-w {
	border-bottom: 2px solid #ffffff;
	margin-bottom: 25px;
}